.list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
    input {
        margin-right: 10px;
        font-size: 20px;
        width: 16px;
        height: 16px;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 25px;
        border-bottom: 2px solid #e0e0e0;
        height: 2px;
    }
}